{% extends 'base.html' %} {% load static %} {% block title %} 
This post title 
{% endblock %} 
{% block css_files %}
<link rel="stylesheet" href="{% static 'app.css' %}" />

{% endblock %}
{% block content %}
<section id='summary'>
    
    <h2>post title</h2>
    <article>
        <img src="{% static 'blog/images/banner.png' %}" style="width: 200px; height: 150px; border: 1px solid black" alt="Post title">
        <address>By min idev camp</address>
        <div>last updated on
            <time>july 05 </time>
        </div>
        
    </article>
</section>
<main>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
         Animi officiis libero facilis, sequi maiores reprehenderit
          quam autem ex reiciendis iste veniam. Laboriosam reiciendis
           omnis nesciunt eos perspiciatis officia voluptatibus enim.</p>
</main>
{% endblock  %}